:root {
  --main-white-color: #ffffff;
  --accent-color: #ff6c00;
  --main-font-color: #555555;
  --secondary-font-color: #303030;
  --secondary-light-font-color: #9da4bd;
  --secondary-transparent-font-color: rgba(157, 164, 189, 0.6);
  --secondary-bg-color: #f7f7f7;
  --primary-bg-color: #111319;
}
